# Copy this file to config.rb and then edit to taste.

module Selfmarks
  PORT = 8011
  HOST = "http://sm.purepistos.net"
  DB_TYPE = 'Pg'
  DB_DATABASE = 'selfmarks'
  DB_USERNAME = 'selfmarks'
  DB_PASSWORD = 'selfmarks'
  USE_MEMCACHED = false
  DEFAULT_LOGIN = :openid
  #DEFAULT_LOGIN = :login
end
