#selfmarks-window {
    padding: 1em;
    margin: 0px auto;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    position: fixed;
    right: 0px;
    top: 0px;
    background: white;
    z-index: 1000;
}

#selfmarks-window label {
    font-size: 12px;
}

#selfmarks-window table {
    border: 0px;
    border-collapse: collapse;
}

#selfmarks-window table td {
    border: 0px;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
}
