body {
    font-size: 12px;
}

label {
    font-size: 12px;
}

#selfmarks-window {
    padding: 1em;
    margin: 0px auto;
    border-bottom: 2px solid blue;
    position: absolute;
    left: 0px;
    top: 0px;
    display: hidden;
    background: white;
}